include CHANGES.md
include CITATION.cff
include .pre-commit-config.yaml
include .python-version
include .readthedocs.yaml
include noxfile.py
include requirements*.txt
include requirements*.in

recursive-exclude docs *
recursive-exclude news *
recursive-exclude tests *
